/* Sign-Up */
body{
    font-family: 'Roboto';
    font-style: normal;
}

div.singUp{
    flex: auto;
    margin-left: 5%;
}

h3{
    margin-bottom: 2px;
    margin-left: 5%;
}

div.form-container{

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 70%;
    left: 573px;
    top: 173px;
    margin-left: 15%;
    box-shadow: 2px 2px 2px 2px #000000;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: center;
}
input[type="Name"i]{
    width: 80%;
    border-radius: 5px;
    padding: 10px;
}
input[type="text"i]{
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
}

input[type="email"i]{
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
}
input[type="password"i]{
    width: 80%;
    border-radius: 5px;
    padding: 10px;
}

form {
    display: block;
    margin-top: 0em;
    margin-left: 0%;
}
input[type="submit" i] {
    width: 70%;
    left: calc(50% - 171px/2 - 314.17px);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 25px;
    top: 67.41%;
    bottom: 30.91%;
    background: #fffcfc;
    border: 1px solid #FF5500;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: #ff5500;
}

