<!DOCTYPE html>
<html lang="en">
<head>
        <script src="https://kit.fontawesome.com/8bedfba391.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="../styles/style.css">
        <link rel="stylesheet" type="text/css" href="../styles/header.css">
        <link rel="stylesheet" type="text/css" href="../styles/nav.css">
        <link rel="stylesheet" type="text/css" href="../styles/main.css">
        <link rel="stylesheet" type="text/css" href="../styles/footer.css">
        <link rel="stylesheet" type="text/css" href="../styles/sign-up.css">
        <script src="../javascript/sign-up.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>
<body>
  <header>
    <i id="menu-icon" class="fa-solid fa-bars"></i>
    <h1>Trackgenix S.A.</h1>
    <div class="social-networks-icons">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-github"></i></a>
    </div>
  </header>
  <div class="main-container">
    <nav>
        <input type="search" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
        <h2>Menu</h2>
        <ul id="myMenu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sing Up</a></li>
            <li><a href="#">Log in</a></li>
            <li><a href="#">Contact info.</a></li>
        </ul>
    </nav>
    <main>
      <div class="form-container">
        <h2>Sign Up</h2>
        <form id="logIn">
            <div class="singUp">
                <h3>Name</h3>
                <input type="Name" placeholder="   " id="Name">
                <h3>Last name</h3>
                <input type="text" placeholder="   " id="LastName">
                <h3>DNI</h3>
                <input type="text" class="inputs" id="dni">
                <h3>Date of birth</h3>
                <input type="text" class="inputs" placeholder="00/00/00" id="birth">
                <h3>Phone number</h3>
                <input type="text" class="inputs" id="phone">
                <h3>Address</h3>
                <input type="text" class="inputs" id="address">
                <h3>City</h3>
                <input type="text" class="inputs" id="city">
                <h3>ZIP code</h3>
                <input type="text" class="inputs" id="zip">
                <h3>Email</h3>
                <input type="email" placeholder="   " id="email">
                <h3>Password</h3>
                <input type="password" placeholder="   " id="password">
                <h3>Repeat Password</h3>
                <input type="password" placeholder="   " id="r-password">
                <input type="submit" value="Continue" class="button" id="continue">
            </div>
        </form>
      </div>
    </main>
  </div>
  <footer>
    <div class="media-icons">
        <ul>
            <li><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
        </ul>
    </div>
    <h3>Copyright © 2022 Trackgenix. All rights reserved.</h3>
</footer>

</body>
</html>