h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    position: absolute;
    width: 272px;
    height: 54px;
    left: 100px;
    top: 23px;
}
a{
    text-decoration: none;
    color: black;
}
header > ul > li {
    display:inline-block;

}
header > ul {
    position: absolute;
    right:0px;
    top: 23px;

}
nav{
    position: absolute;
    width: 288px;
    height: 2737px;
    left: 1px;
    top: 1px;

    background:#DDDDDD;
}
header{
    position: absolute;
    width: 1152px;
    height: 100px;
    left: 288px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 4px 0px #FF0000;
}
main{
    position: absolute;
    width: 1152px;
    left: 300px;
    top: 100px;
}
nav > input {
    margin-top: 35px;
    margin-left:14px;
    margin-right: 14px;
}
h2 {
    font-weight: bolder;
    margin-left: 14px;
}
#myMenu
 {
    list-style-type: none;
    padding: 0;
    margin-left: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    
  }
#myMenu > li {
    line-height: 23px;
    margin-bottom: 20px;
    list-style-type: none;
}
#whatistrackgenix{
    position: relative;
    padding-top: 52px;
    height: 400px;
    width: 1080px;
    border-bottom: 1px grey solid;
    padding-bottom: 20px;
}
.whatistrackgenix-content > h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    width: 420px;
}
.whatistrackgenix-content > p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 420px;
    margin-right: 362px;
}
img#first{
    position:absolute;
    width: 525px;
    height: 401px;
    right:86px;
    top: 49px;
}

#funccionalities{
    display: inline-block;
}
.fa-solid{
    font-size: 75px;
}
.functionalities-item{
    position: relative;
    display: inline-block;
    width: 400px;
    height: 200px;
}
.functionalities-item > h3 {
    position:absolute;
    top: -20px;
    left:80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}
.functionalities-item > p {
    position:absolute;
    top:30px;
    left:80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
}
.functionalities-item > h4 {
    position:absolute;
    top:30px;
    left:0px;
    }
#why-trackgenix{
    font-family: 'Roboto';
    font-style: normal;
    border-bottom: 1px grey solid;
    padding-bottom: 40px;
    border-top: 1px grey solid;
    padding-top: 100px;
}

#why-list{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}
img#second{
    position: absolute;
    Width:280px;
    Height:267.56px;
    Top: 1000px;
    Radius:5px;
    right: 300px;
}
#morebutton{
    background: #FFFFFF;
    border: 1px solid #FF5500;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px
    position: absolute;
    width: 139px;
    left: calc(50% - 139px/2 - 232.5px);
    top: 48.7%;
}
.form{
    display: block;
    padding-bottom: 20px;

}    
.form-group > h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
}
.form{
    border-bottom: 1px grey solid;
}
#history{
    position: relative;
    width: 310px;
    height: 35px;
    left: 318px;
    top: 1479px;
    padding-top: 52px;
    height: 400px;
    width: 1080px;
}
.history > h2{
    width: 60%;
    width: 609.86px;
    height: 182.81px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}
.ourhistory > p{
    width: 609.86px;
    height: 182.81px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}
img#third{
    Width:435.61px;
    Height:219.38px;
}
#pcs{
    display:inline-block
}
.pcs-item{
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
}
.pcs-item > h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
}
#olstyle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
}
footer{
    
}
