main{
    padding: 0px 32px;
}
section {
    display: flex;
    flex-direction: column;
    padding: 25px 0px 0px 0pxs;
    max-width: 1400px;
    align-items: stretch;
    margin: auto;
}
img#first{
    width: 337.89px;
    height: 270px;
    left: 38px;
    top: 105px;    
    border-radius: 5px;
}
#functionalities {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 35px;
}
.fa-solid{
    font-size: 35px;
}
img#second{
    left: 7.73%;
    right: 8.42%;
    top: 39.41%;
    bottom: 53.32%;
    border-radius: 5px;
}
#morebutton{
    display: none;
}